name: truth_or_dare
description: Aplicație Adevăr sau Provocare cu categorii și animații

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  shared_preferences: ^2.2.2  # Pentru salvarea stării

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  
  # Declarăm folderul assets
  assets:
    - assets/icons/